__pycache__/
*.py[cod]
*.so
*.pyd
.vscode/
.history/
env/
venv/
.venv/
*.pth
*.pt
logs/
*.log
build/
CMakeFiles/
cmake-build-*/
Makefile
CMakeCache.txt
install_manifest.txt
data/raw/
data/processed/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
ui/__pycache__/
